body{
    font-family: 'Roboto', sans-serif;
    font-size: 11pt !important;
}
p{
    margin: 12px 0px !important;
    text-align: justify;
}
h4{
    font-size: 13pt !important;
    margin: 12px 0px !important;
}
h3{
    font-size: 15pt !important;
    margin: 12px 0px !important;
}
h2{
    font-size: 19pt !important;
    margin: 12px 0px !important;
}
h1{
    font-size: 27pt !important;
    margin: 12px 0px !important;
}
a{
    color: #0080ff !important;
}
#contents{
    line-height: 19pt !important;
}
#meta{
    margin: 0px 0px 12px 0px !important;
}
#photo{
    border-radius: 50%;
    box-shadow: 0px 0px 5px #404040;
    z-index: 9999999;
    margin-bottom:12px;
}
#main-header{
    margin:15px 0px 0px 0px;
}
#tagline{
    font-style: italic;
    margin: 0px !important;
}
#abelcallejo{
    margin:15px 0px 0px 0px !important;
}
.major-outline{
    list-style-type: upper-roman;
}
.major-outline>li>ol{
    list-style-type: upper-latin;
}

/** Notes **/
.note-item{
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}
.note-title{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.note-type,.note-date{
    color:#808080;
}
#note-blueprint{
    display: none;
}
.tv{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.36);
}
.tv-black{
    background: #000;
}
.figure-caption-white{
    background: #f0f0f0;
    color: #000;
    padding:5px 0px;
}
.figure-caption-black{
    background: #404040;
    color: #c0c0c0;
    padding:5px 0px;
}
.rounded-corner{
    border-radius: 5px;
}
.shown-for-humans-only{
    font-style: italic;
}